@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#vue-app {
  padding-top: 60px;
  font-family: inherit;
  position: relative;
  min-height: 150px;

  & *, & *:before, & *:after {
    box-sizing: border-box;
  }


  // - Loader ------------------------------------------------------------------
  .loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 3;
    .loader {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% -50%);
      width: 34px;
      height: 34px;
      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        margin: 2px;
        border: 4px solid #c90104;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #c90104 transparent transparent transparent;
        &:nth-child(1){
          animation-delay: -0.45s;
        }
        &:nth-child(2){
          animation-delay: -0.3s;
        }
        &:nth-child(3) {
          animation-delay: -0.15s;
        }

      }
    }
  }


  // - Heading -----------------------------------------------------------------
  h2 {
    margin: 0 0 30px;
    color: #575756;
    text-align: center;
  }

  .sub-heading {
    color: #575756;
    text-align: center;
    margin: 0 0 60px;
  }

  // - Buttons -----------------------------------------------------------------
  button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    &:focus {
      outline: none;
    }

  }

  .backBtn {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #d2d2d2;
    transition: color ease-in-out .3s;
    margin-bottom: 30px;
    &:hover {
      color: #575756;
    }
  }

  // - Search ------------------------------------------------------------------
  .search-wrapper {
    margin-bottom: 30px;

    .search {
      border: none;
      background-color: #d2d2d2;
      color: #fff;
      height: 36px;
      line-height: 36px;
      padding: 0 15px;
      font-size: 16px;
      border-radius: 5px;
      width: 290px;
      margin-bottom: 20px;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: #fff;
      }
    }

    .radio-wrapper {
      .radio-group {
        &:not(:last-child) {
          margin-bottom: 15px;
        }

        input {
          display: none;
        }

        label {
          position: relative;
          padding-left: 30px;
          cursor: pointer;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border: solid 1px #CC0000;
            border-radius: 10px;
          }

          &:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 12px;
            background-color: #CC0000;
            border-radius: 50%;
            display: none;
          }
        }

        input:checked ~ label {
          &:after {
            display: block;
          }
        }
      }

    }
  }

  // - Table -------------------------------------------------------------------
  .table-wrapper {
    padding: 20px 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      position: absolute;
      top: -10px;
      left: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 3px;
    }

    table, th, td {
      border: solid 1px #575756;
      font-family: inherit;
      font-size: 14px;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        vertical-align: top;
        min-width: 90px;
        font-weight: 400;
        text-align: center;
        padding: 10px 5px 30px;
        position: relative;
        &.symbol, &.ppy, &.pnp {
          min-width: 70px;
        }
        &.ldb {
          min-width: 130px;
        }
        &:first-child {
          min-width: 260px;
        }

        button {
          display: block;
          font-size: inherit;
          position: absolute;
          height: 18px;
          bottom: 5px;
        }

        .sortBtn {
          color: #d2d2d2;
          right: 5px;

          &:before {
            content: '↓';
          }

          &:after {
            content: '↑';
          }


          &.asc {
            &:before{
              color: #000;
            }
          }

          &.desc {
            &:after{
              color: #000;
            }
          }

        }

        .tooltip {
          left: 5px;
          width: 18px;
          background-color: #cbcbcb;
          border-radius: 9px;
          padding: 0;
          font-weight: bold;
          color: #706f6f;
          z-index: 2;

          &:after {
            content: attr(data-title);
            position: absolute;
            bottom: 100%;
            left: 20px;
            background-color: #d2d2d2;
            color: #706f6f;
            padding: 10px 8px;
            font-size: 14px;
            font-weight: 300;
            min-width: 240px;
            text-align: left;
            //visibility: hidden;
            display: none;
            opacity: 0;
            margin-bottom: 10px;
          }

          &:before {
            content: '';
            position: absolute;
            bottom: 80%;
            left: 18px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 20px 10px;
            border-color: transparent transparent transparent #d2d2d2;
            -webkit-transform: rotate(10deg);
            transform: rotate(16deg);
            //visibility: hidden;
            display: none;
            opacity: 0;
          }

          &:hover, &:active {
            &:before, &:after {
              //visibility: visible;
              display: block;
              opacity: 1;
            }
          }
        }
      }
      th:nth-last-child(-n+2){
        .tooltip {
          &:before {
            left: auto;
            right: 14px;
            transform: rotate(-42deg);
          }
          &:after {
            right: 20px;
            left: auto;
          }
        }
      }
      th:nth-last-child(-n+3) {
        min-width: 70px;
      }
      td {
        padding: 5px;

        &:first-child {
          padding: 0;
          overflow: hidden;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            display: block;
            background: transparent;
            transition: background ease-in-out .3s;
            width: 100%;
            top: -20px;
            bottom: -20px;
            left: 0;
          }
          &:hover::before {
            background-image: linear-gradient(60deg, #d2d2d2 0%, #d2d2d2 49%, transparent 50%);
          }
        }

        a {
          cursor: pointer;
          display: block;
          width: 100%;
          padding: 5px;
          position: relative;
          text-decoration: none;
          color: #000;
        }

        &.empty {
          padding: 30px 0 !important;
          text-align: center;
          color: rgba(#000, .7);
          font-size: 16px;
          &:hover{
            &:before {
              background-image: none !important;
            }
          }
          span {
            margin-left: 4px;
            color: #575756;
            font-weight: 500;
          }
          .error {
            color: #c90104;
            margin-left: 0;

          }
        }

        span {
          position: relative;

          &.check , &.reload {
            width: 140px;
            line-height: 1;
            display: inline-block;
            text-align: right;
            &:after {
              display: block;
              content: '';
              width: 14px;
              height: 14px;
              position: absolute;
              right: -22px;
              top: 50%;
              transform: translateY(-50%);
              opacity: 0.3;
            }
          }

          &.check {

            &:after {
              background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxNCAxNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTQgMTQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjx0aXRsZT5jaGVja21hcms8L3RpdGxlPg0KPHBhdGggZD0iTTExLjgsMS41TDUuMyw4LjFMMi4yLDVMMCw3LjJsNS4zLDUuM0wxNCwzLjdMMTEuOCwxLjV6Ii8+DQo8L3N2Zz4NCg==");
            }
          }

          &.reload {
            &:after {
              background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxNCAxNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTQgMTQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjx0aXRsZT5sb29wMjwvdGl0bGU+DQo8cGF0aCBkPSJNMTIuMiwyLjNDMTAuOSwwLjksOSwwLDcsMEMzLjEsMCwwLDMuMSwwLDdoMS4zYzAtMy4xLDIuNS01LjcsNS43LTUuN2MxLjcsMCwzLjIsMC43LDQuMiwxLjlsLTIsMkgxNFYwLjRMMTIuMiwyLjMNCglMMTIuMiwyLjN6Ii8+DQo8cGF0aCBkPSJNMTIuNyw3YzAsMy4xLTIuNSw1LjctNS43LDUuN2MtMS43LDAtMy4yLTAuNy00LjItMS45bDItMkgwdjQuOGwxLjgtMS44QzMuMSwxMy4xLDUsMTQsNywxNGMzLjksMCw3LTMuMSw3LTdIMTIuN3oiLz4NCjwvc3ZnPg0K");
            }
          }

          &.clock {
            width: 90px;
            line-height: 1;
            display: inline-block;
            padding-right: 22px;
            &:after {
              display: block;
              content: '';
              width: 14px;
              height: 14px;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              opacity: 0.3;
              background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxNCAxNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTQgMTQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjx0aXRsZT5jbG9jazwvdGl0bGU+DQo8cGF0aCBkPSJNOSwxMC4yTDYuMSw3LjRWMy41aDEuOHYzLjFMMTAuMiw5TDksMTAuMnogTTcsMEMzLjEsMCwwLDMuMSwwLDdzMy4xLDcsNyw3czctMy4xLDctN1MxMC45LDAsNywweiBNNywxMi4zDQoJYy0yLjksMC01LjMtMi40LTUuMy01LjNTNC4xLDEuOCw3LDEuOHM1LjMsMi40LDUuMyw1LjNTOS45LDEyLjMsNywxMi4zeiIvPg0KPC9zdmc+DQo=");
            }
          }

        }
      }
    }
  }

  // - Attention text ----------------------------------------------------------
  .attention {
    color: #c90104;
    text-align: center;
    font-size: 14px;
    padding: 40px 0 30px;
  }

  .info {
    text-align: center;
    color: #575756;
    h3 {
      padding: 0;
      margin-top: 0;
      margin-bottom: 15px;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      a {
        color: #c90104
      }
      margin: 0;
    }
  }
  // - Details component -------------------------------------------------------

  #vue-divs-details {

    h2, .sub-heading{
      text-align: left;
    }

    i.icon {
      display: block;
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+YXJyb3ctbGVmdDI8L3RpdGxlPgo8cGF0aCBkPSJNMTIuNTg2IDI3LjQxNGwtMTAtMTBjLTAuNzgxLTAuNzgxLTAuNzgxLTIuMDQ3IDAtMi44MjhsMTAtMTBjMC43ODEtMC43ODEgMi4wNDctMC43ODEgMi44MjggMHMwLjc4MSAyLjA0NyAwIDIuODI4bC02LjU4NiA2LjU4NmgxOS4xNzJjMS4xMDUgMCAyIDAuODk1IDIgMnMtMC44OTUgMi0yIDJoLTE5LjE3Mmw2LjU4NiA2LjU4NmMwLjM5IDAuMzkgMC41ODYgMC45MDIgMC41ODYgMS40MTRzLTAuMTk1IDEuMDI0LTAuNTg2IDEuNDE0Yy0wLjc4MSAwLjc4MS0yLjA0NyAwLjc4MS0yLjgyOCAweiI+PC9wYXRoPgo8L3N2Zz4K");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: .4;
      transition: opacity ease-in-out .3s;
      &:hover {
        opacity: 1;
      }
    }

    th {
      min-width: 130px;
      &:first-child {
        min-width: 150px;
        max-width: 150px;
      }
    }

    td:first-child {
      padding: 5px;
      &:before{
        display: none;
      }
    }

  }
}
