<template lang="pug">
  #vue-divs-details
    a.backBtn(@click.prevent="moveBack")
      i.icon
    h2
      | {{divHeading}}
    p.sub-heading(v-text="pageSubheading")
    .table-wrapper
      table
        thead
          tr
            th(v-for="(th, index) in tableHeadingData" :key="index" :class="th.name")
              | {{th.title}}
              button.tooltip(
                :data-title="th.tooltipText"
                v-if="th.tooltipText"
              ) ?
        tbody
          template(v-if="!errorMessage")
            DivDetailsListItem(
              v-for="(tr, index) in divListData"
              :key="index"
              :headingArr="tableHeadingArr"
              :divItemData="tr"
            )
          tr(v-else)
            td.empty(:colspan="tableHeadingData.length")
              span.error(v-text="errorMessage")
    p.attention
      | Не является персональным инвестиционным советом или рекомендацией
    .info
      h3 Уважаемые пользователи, сервис работает в тестовом режиме.
      p
        | Если вы заметили ошибки или неточности, напишите пожалуйста на почту
        |
        a(href="mailto:info@red-circule.com") info@red-circule.com
        |
        |,оперативно исправим.
      p Всем внимательным - бонусы.
</template>

<script>
  import DivDetailsListItem from '@/components/DivDetailsListItem.vue'

  export default {
    name: "DivDetailsList",
    components: {
      DivDetailsListItem
    },
    props: {
      ticker: {
        type: String
      }
    },
    data() {
      return {
        pageSubheading: 'За какой период работы был выплачен дивиденд',
        tableHeadingData: [
          {
            title: 'За какой период работы был выплачен дивиденд',
            name: 'pwdp',
            sortType: 'text',
            tooltipText: '3М, 6М, 9М, Год, НЧП' // Can be empty - not render
          },
          {
            title: 'Купить до',
            name: 'bsb',
            sortType: 'int',
            tooltipText: 'До конца какого дня нужно купить акцию, чтобы попасть в реестр и получить дивиденды' // Can be empty - not render
          },
          {
            title: 'Дата закрытия реестра',
            name: 'apd',
            sortType: 'text',
            tooltipText: 'Когда эмитент выплатит дивиденд инвестору' // Can be empty - not render
          },
          {
            title: 'Дивиденд',
            name: 'dividend',
            sortType: 'int',
            tooltipText: 'Абсолютный размер дивиденда' // Can be empty - not render
          },
          {
            title: 'Доходность на момент выплаты / Текущая доходность',
            name: 'ptp', // get from two obj
            sortType: 'int',
            tooltipText: '“галочка” - доходность по цене закрытия на отсечку, “колесико” - текущая доходность ближ. див-да' // Can be empty - not render
          },
          {
            title: 'Срок закрытия дивидендного гэпа',
            name: 'dgcd',
            sortType: 'int',
            tooltipText: 'Сколько дней закрывался гэп после этого дивиденда' // Can be empty - not render
          },
        ],
        divListData: [],
        errorMessage: '',
        divHeading:''
      }
    },

    // - Created Hook ----------------------------------------------------------
    created(){
      this.init()
    },

    // - Computed --------------------------------------------------------------
    computed: {
      tableHeadingArr() {
        return this.tableHeadingData.map(item => item.name)
      },
    },

    // - Methods ---------------------------------------------------------------
    methods: {

      // - Get ajax request for data
      async init() {
        let res = await this.$axios({
          method: 'get',
          url: '/dividends/'+ this.ticker,
        }).then(({data}) => {
          this.divHeading = data.name
          if(data.status==='error'){
            this.errorMessage = data.msg
            return true
          }else {

            this.divListData = data.data.map(obj => {
              obj.ptpCp = `${parseFloat(obj.ptp).toFixed(2)}% / ${parseFloat(obj.cp).toFixed(2)}%`
              return obj
            })
            return true
          }
        }).catch(() => {
          return false
        })
        if (!res) this.errorMessage = 'Сервис временно не доступен'
        this.$emit('data-loaded', true)
      },

      // - Move to main table component
      moveBack() {
        this.$root.$emit('show-details', '')
      }
    }
  }
</script>

<style scoped>

</style>
