<template lang="pug">
  tr
    td(v-for="(item, index) in headingArr")
      span(v-if="item==='ptp'"
          :class="divItemData[item].paid ? 'check' : 'reload'"
          )
        |  {{divItemData[item].val | visualFilter(item, months)}} / {{divItemData[item].pay_date_price + ' руб.'}}
      span(v-else-if="item==='dgcd'"
          :class="divItemData[item].closed ? '' : 'clock'"
          )
        | {{divItemData[item].val | visualFilter(item, months)}}
      span(v-else) {{divItemData[item] | visualFilter(item, months) }}
</template>

<script>
  import {months} from "@/months";

  export default {
    name: "DivDetailsListItem",
    mixins: [months],
    props: {
      headingArr: {
        type: Array
      },
      divItemData: {
        type: Object
      },

    },

    // - Filters ---------------------------------------------------------------
    filters: {

      // - Filter data by column name
      visualFilter: (prev, colName, months) => {
        switch (colName) {
          case "apd":
            let apdArr = prev.split('-').reverse()
            if(apdArr[1]<10){
              apdArr[1] = months[apdArr[1].substring(1) - 1]
            }else {
              apdArr[1] = months[apdArr[1] - 1]
            }
            return apdArr.join(' ')
            break
          case "ptp":
            if (prev === 0) {
              return prev = ''
            } else {
              return Math.floor(prev * 1000) / 1000 + '%'
            }
            break
          case "bsb":
            let bsbArr = prev.split('-').reverse()
            if(bsbArr[1]<10){
              bsbArr[1] = months[bsbArr[1].substring(1) - 1]
            }else {
              bsbArr[1] = months[bsbArr[1] - 1]
            }
            return bsbArr.join(' ')
            break
          case "dividend":
            if(prev === 0){
              return prev + ' ' + 'руб.'
            }else {
              return Math.floor(prev * 10000) / 10000 + ' руб.'
            }
            break
          case "dgcd":
            if(prev===0){
              return prev = '-'
            }else {
              return prev + ' ' + 'дн.'
            }

            break
        }
        return prev
      }
    }
  }
</script>

<style scoped>

</style>
