<template lang='pug'>
  #vue-divs-list
    h2(v-text="pageHeading")
    p.sub-heading(v-text="pageSubheading")
    .search-wrapper
      form(action='#')
        input.search(type='text' placeholder='Поиск по названию акции, тикеру' v-model="searchModel")
        .radio-wrapper
          .radio-group
            input#searchName.searchType(type="radio" v-model="searchType" value="name")
            label(for="searchName") Поиск по названию
          .radio-group
            input#searchTicker.searchType(type="radio" v-model="searchType" value="symbol")
            label(for="searchTicker") Поиск по тикеру
    .table-wrapper
      table
        thead
          tr
            th(v-for="(th, index) in tableHeadingData" :key="index" :class="th.name")
              | {{th.title}}
              button.sortBtn(
                @click.prevent="sortTableData(th.name, th.sortType)"
                :class="isSorted(th.name)"

              )
              button.tooltip(
                :data-title="th.tooltipText"
                v-if="th.tooltipText"
              ) ?

        tbody
          template(v-if="tableSortedData.length>0")
            DivsListItem(
              v-for="(tr, index) in tableSortedData"
              :key="index"
              :headingArr="tableHeadingArr"
              :divItemData="tr"
            )
          tr(v-else)
            td.empty(:colspan="tableHeadingData.length")
              template(v-if="!errorMessage")
                | Нет результатов по запросу
                span(v-text="'«' + searchModelD + '»'")
              span.error(v-text="errorMessage" v-else)


    p.attention
      | Не является персональным инвестиционным советом или рекомендацией
    .info
      h3 Уважаемые пользователи, сервис работает в тестовом режиме.
      p
        | Если вы заметили ошибки или неточности, напишите пожалуйста на почту
        |
        a(href="mailto:info@red-circule.com") info@red-circule.com
        |
        |,оперативно исправим.
      p Всем внимательным - бонусы.
</template>

<script>
  import DivsListItem from '@/components/DivsListItem.vue'

  export default {
    name: 'DivsList',
    components: {
      DivsListItem
    },
    data() {
      return {
        pageHeading: 'Таблица дивидендных акций 2019-2020',
        pageSubheading: 'Прошлые и ожидаемые дивиденды, див. доходность, когда закрывается дивидендный гэп',
        tableHeadingData: [
          {
            title: 'Название',
            name: 'name',
            sortType: 'text',
            tooltipText: 'Кликните название, чтобы перейти на страницу с полной дивидендной историей компании' // Can be empty - not render
          },
          {
            title: 'Тикер',
            name: 'symbol',
            sortType: 'text',
            tooltipText: 'Этот тикер компании присвоила МосБиржа' // Can be empty - not render
          },
          {
            title: 'Доходность за 12 месяцев',
            name: 'ppy',
            sortType: 'int',
            tooltipText: 'Сумма див-ов за прошл. 12 мес. с даты ближ. див-да или с текущей даты, деленная на текущую цену' // Can be empty - not render
          },
          {
            title: 'Ближайшая дивидендная выплата',
            name: 'cdp',
            sortType: 'int',
            tooltipText: 'Размер ближайшей дивидендной выплаты. “-”, если такая выплата не определена' // Can be empty - not render
          },
          {
            title: 'Див. дох-сть',
            name: 'pnp',
            sortType: 'int',
            tooltipText: 'Ближайшая дивидендная выплата деленная на текущую цену' // Can be empty - not render
          },
          {
            title: 'Последний день, чтобы купить',
            name: 'ldb',
            sortType: 'date',
            tooltipText: 'До конца какого дня нужно купить акцию, чтобы попасть в реестр и получить дивиденды' // Can be empty - not render
          },
          {
            title: 'Ср. время закр. гэпа',
            name: 'dgct',
            sortType: 'int',
            tooltipText: 'Сколько дней в среднем закрывается дивидендный гэп. Учитывает незакрытые гэпы' // Can be empty - not render
          },
          {
            title: 'Последний дивидендный гэп',
            name: 'ldg',
            sortType: 'obj',
            tooltipText: 'Сколько дней закрывался последний дивидендный гэп. “часики”, если еще не закрылся' // Can be empty - not render
          },
          {
            title: 'Сколько лет подряд платит дивиденд',
            name: 'payed_years_together',
            sortType: 'int',
            tooltipText: 'Написать текст описания'
          },
          {
            title: 'Сколько лет подряд повышает дивиденд',
            name: 'yrs_dpay_grows',
            sortType: 'int',
            tooltipText: 'Написать текст описания'
          }
        ],
        currentSortConfig: {
          columnName: '',
          sortDirection: '',
          sortType: '',
        },
        searchModel: '',
        searchModelD: '',
        searchType: 'name',
        divsListData: [],
        errorMessage: ''
      }
    },

    // - Created Hook ----------------------------------------------------------
    created() {
      this.init()
    },

    // - Watch -----------------------------------------------------------------
    watch: {
      searchModel(current) {
        let delay
        clearTimeout(delay)
        delay = setTimeout(() => {
          this.searchModelD = current
        }, 300)
      }
    },

    // - Computed --------------------------------------------------------------
    computed: {
      // - Return name fields tableHeadingData array
      tableHeadingArr() {
        return this.tableHeadingData.map(item => item.name)
      },

      /*
       *  1. Init search method
       *  2. Return data if not sorting
       *  3. Sort data by type
       */
      tableSortedData() {
        let colName = this.currentSortConfig.columnName
        let sortDir = this.currentSortConfig.sortDirection
        let sortType = this.currentSortConfig.sortType
        let sortDirBool = sortDir !== 'asc'

        // - 1. After search
        let data = this.search()

        // - 2. Return data if not sorting
        if (!(colName && sortDir)) return data

        // - 3. Sort data by type
        switch (sortType) {
          case "text":
            data.sort(this.sortBy(colName, sortDirBool, a => a.toUpperCase()))
            break
          case "int":
            data.sort(this.sortHelper(sortDirBool, colName))
            break
          case "obj":
            if (colName === 'ldg') {
              data.sort((a, b) => (sortDirBool) ? (a['ldg'].val === 0)-(b['ldg'].val===0) || + a['ldg'].val - b['ldg'].val : b['ldg'].val - a['ldg'].val)
            }
            break
          case "date":
            data.sort((a, b) => {
              a = Date.parse(a[colName])
              b = Date.parse(b[colName])
              if (sortDirBool) {
                return (a === 0) - (b === 0) || +(a > b) || -(a < b)
              } else {
                return (a === 0) - (b === 0) || -(a > b) || +(a < b)
              }
            })
            break
        }
        return data
      },

    },

    // - Methods ---------------------------------------------------------------
    methods: {

      // - Get ajax request for data
      async init() {
        let res = await this.$axios({
          method: 'get',
          url: '/dividends/',
        }).then(({data}) => {
          if (data.status === 'error') {
            this.errorMessage = data.msg
            return true
          } else {
            this.divsListData = data.data
            return true
          }

        }).catch(() => {
          return false
        })
        if (!res) this.errorMessage = 'Сервис временно не доступен'

        this.$emit('data-loaded', true)
      },

      //- Check if column sorted
      isSorted(columnName) {
        return this.currentSortConfig.columnName === columnName
          ? this.currentSortConfig.sortDirection : false
      },

      // - Return class of current sort direction
      sortTableData(name, type) {
        if (this.currentSortConfig.sortDirection && this.currentSortConfig.columnName === name) {
          this.currentSortConfig.sortDirection === 'asc'
            ? this.currentSortConfig.sortDirection = 'desc'
            : this.currentSortConfig.sortDirection = 'asc'
        } else {
          this.currentSortConfig.sortDirection = 'asc'
        }
        this.currentSortConfig.sortType = type
        this.currentSortConfig.columnName = name
      },

      // - Auxiliary comparison function
      sortBy(field, reverse, callback) {
        const key = callback ?
          function (x) {
            return callback(x[field])
          } :
          function (x) {
            return x[field]
          };
        reverse = !reverse ? 1 : -1;
        return function (a, b) {
          return a = key(a), b = key(b), reverse * ((a > b) - (b > a));
        }
      },

      // - Int sort helper (null & 0 always come last) 0>null
      sortHelper(bool, colName) {

        return function (a, b) {

          // equal items sort equally
          if (a[colName] === b[colName]) {
            return 0;
          }
          // nulls sort after anything else
          else if (a[colName] === null) {
            return 1;
          }
          else if (b[colName] === null) {
            return -1;
          }
          else if (a[colName] === 0) {
            return 1
          }
          else if (b[colName] === 0) {
            return -1
          }
          // if  bool = false, lowest sorts first
          else if (bool) {
            return a[colName] < b[colName] ? -1 : 1
          }
          // if bool = true, highest sorts first
          else {
            return a[colName] < b[colName] ? 1 : -1
          }
        }
      },

      // - Search by selected field
      search() {
        let data = []
        if (this.searchModel) {
          data = this.divsListData.filter((obj) => {
            return obj[this.searchType].toUpperCase().indexOf(this.searchModelD.toUpperCase()) >= 0
          })
        } else {
          data = this.divsListData
        }
        return data
      }

    }
  }
</script>

