<template lang='pug'>
  tr
    td(v-for="(item, index) in headingArr")
      a(:href="divItemData.symbol" v-if="item==='name'" v-text="divItemData[item]" @click.prevent="showDetails(divItemData.symbol)")

      span(v-else-if="item==='ldg'"
        :class="divItemData[item].closed ? '' : 'clock'") {{divItemData[item].val | visualFilter(item,months, t)}}
      span(v-else ) {{divItemData[item] | visualFilter(item, months, t)}}
</template>

<script>
  import {months} from "@/months";

  export default {
    name: 'DivsListItem',
    mixins: [months],
    props: {
      headingArr: {
        type: Array
      },
      divItemData: {
        type: Object
      }
    },
    data() {
      return {
        t: (n, titles) => titles[(n % 10 === 1 && n % 100 !== 11) ? 0 : n % 10 >= 2 && n % 10 <= 4 && (n % 100 < 10 || n % 100 >= 20) ? 1 : 2]
      }
    },

    // - Methods ---------------------------------------------------------------
    methods: {
      showDetails(symbol) {

        this.$root.$emit('show-details', symbol)
      }
    },

    // - Filters ---------------------------------------------------------------
    filters: {

      // - Filter data by column name ------------------------------------------
      visualFilter(prev, colName,months, t) {
        switch (colName) {
          case "ppy":
            if (prev ===null) {
              return prev = '-'
            }else {
              return Math.floor(prev * 1000) / 1000 + '%'
            }
            break
          case "pnp":
            if (prev === 0) {
              return prev = '-'
            } else {
              return Math.floor(prev * 1000) / 1000 + '%'
            }
            break
          case "cdp":
            if (prev === 0) {
              return '-'
            } else {
              return Math.floor(prev * 10000) / 10000 + ' руб.'
            }
            break
          case "ldb":
            if (prev === '1970-01-01') {
              return prev = '-'
            } else {
              let arr = prev.split('-').reverse()
              if (arr[1] < 10) {
                arr[1] = months[arr[1].substring(1) - 1]
              } else {
                arr[1] = months[arr[1] - 1]
              }
              return arr.join(' ')
            }
            break
          case "dgct":
            if (prev === 0) {
              return prev = '-'
            } else {
              return Math.round(prev * 10) / 10 + ' ' + 'дн.'
            }

            break
          case "ldg":
            if (prev === 0) {
              return prev = '-'
            } else {
              return prev + ' ' + t(prev, ['день', 'дня', 'дней'])
            }
            break
          case "yrs_dpay_grows":
            return prev + ' ' + t(prev, ['год', 'года', 'лет'])
            break
          case "payed_years_together":
            return prev + ' ' + t(prev, ['год', 'года', 'лет'])
            break
        }
        return prev
      }
    }
  }
</script>

