<template lang='pug'>
  #vue-app
    .loader-wrapper(v-if="loading")
      .loader
        div
        div
        div
        div
    DivDetailsList(v-if="currentTicker" :ticker="currentTicker" @data-loaded="setLoading")
    DivsList(@data-loaded="setLoading" v-else)
</template>

<script>
  import Url from 'domurl'
  import DivsList from '@/components/DivsList.vue'
  import DivDetailsList from '@/components/DivDetailsList.vue'

  export default {
    name: 'vue-app',
    components: {
      DivsList,
      DivDetailsList
    },
    data() {
      return {
        loading: true,
        currentTicker: '',
        paramName: 'div_ticker',
        url: null
      }
    },

    // - Created Hook ----------------------------------------------------------
    created() {
      // - Read Url get params if exist
      this.url = new Url
      if (this.paramName in this.url.query && this.url.query[this.paramName]) {
        this.setCurrentTicker(this.url.query[this.paramName], true)
      }
    },

    // - Mounted Hook ----------------------------------------------------------
    mounted() {
      this.$root.$on('show-details', this.setCurrentTicker)
    },

    // - Methods ---------------------------------------------------------------
    methods: {

      // - Change loading state
      setLoading(state) {
        this.loading = !state
      },
      // - Pass the ticker as a request parameter
      setCurrentTicker(ticker, flag) {

        this.url.query[this.paramName] = ticker.toLowerCase()
        if(flag) {
          this.loading = true
          window.history.pushState("", "", this.url.toString());
          this.currentTicker = ticker.toUpperCase()
        }else {
          if(ticker){
            this.loading = true
            window.history.pushState("", "", this.url.toString());
          }else {
            delete this.url.query[this.paramName]
            window.history.pushState("", "", this.url.toString());
          }
          this.currentTicker = ticker
        }
      }
    }

  }
</script>

<style lang="scss" src="@/assets/scss/app.scss"></style>
